:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1039px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-a {
  position: relative;
  width: 1231px;
  height: 28px;
  margin: 56px 0 0 105px;
  z-index: 52;
}
.logo-cultured-kid {
  position: absolute;
  width: 154px;
  height: 28px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 52;
  overflow: hidden;
}
.cultured-kid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: calc(50% - 14px);
  left: 25.32%;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 53;
}
.logo {
  position: absolute;
  width: 33px;
  height: 20px;
  top: 4px;
  left: 0;
  background: url(./assets/images/4b4656e8-e0e8-43fe-8aaf-56cd917d44c7.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.stacked-group {
  position: absolute;
  width: 368px;
  height: 28px;
  top: 0;
  left: 767px;
  z-index: 45;
  overflow: hidden;
}
.artists {
  position: absolute;
  width: 15.49%;
  height: 28px;
  top: 50%;
  left: 84.24%;
  cursor: pointer;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.88px;
  background: transparent;
  border: none;
  transform: translate(0, -50%);
  z-index: 46;
}
.sculpture-copy {
  position: absolute;
  width: 22.01%;
  height: 28px;
  top: 50%;
  left: 55.43%;
  cursor: pointer;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.88px;
  background: transparent;
  border: none;
  transform: translate(0, -50%);
  z-index: 47;
}
.drawings {
  position: absolute;
  width: 20.65%;
  height: 28px;
  top: 50%;
  left: 27.99%;
  cursor: pointer;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.88px;
  background: transparent;
  border: none;
  transform: translate(0, -50%);
  z-index: 48;
}
.paintings {
  position: absolute;
  width: 20.38%;
  height: 28px;
  top: 50%;
  left: 0;
  cursor: pointer;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.88px;
  background: transparent;
  border: none;
  transform: translate(0, -50%);
  z-index: 49;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 64px;
  height: 28px;
  top: 0;
  left: 1167px;
  z-index: 51;
}
.icons-action-search-black {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/2f6b7125-6875-474b-848f-633388251bc1.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.icons-action-search-black-copy {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/3463f989-8281-48d3-9e2f-906dd62b7d51.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.flex-row-dd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1128px;
  height: 56px;
  margin: 100px 0 0 208px;
  z-index: 1;
}
.featured-paintings {
  flex-shrink: 0;
  position: relative;
  height: 56px;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 52px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  white-space: nowrap;
}
.icons-navigation-arrow-right-black {
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 24px;
  background: url(./assets/images/64d3a6ce-1581-44c7-8a5c-d2fc77b254fe.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-row-fef {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1605px;
  height: 344px;
  margin: 88px 0 0 -55px;
  z-index: 23;
}
.painting {
  flex-shrink: 0;
  position: relative;
  width: 232px;
  height: 296px;
  z-index: 18;
  overflow: hidden;
}
.painting-1 {
  position: relative;
  width: 232px;
  height: 216px;
  margin: 0 0 0 0;
  background: url(./assets/images/123e10e0598ec09de94ad8d053e801a7d7b5236f.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.innocence {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 0;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.ria-arante {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.acrylic-on-canvas {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.painting-2 {
  flex-shrink: 0;
  position: relative;
  width: 232px;
  height: 343px;
  z-index: 8;
  overflow: hidden;
}
.painting-3 {
  position: relative;
  width: 232px;
  height: 264px;
  margin: 0 0 0 0;
  background: url(./assets/images/0af0a9aa-b3d1-4cf5-9466-d333ef67df24.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.wallowing-breeze {
  display: block;
  position: relative;
  height: 24px;
  margin: 15px 0 0 0;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.hettie-richards {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.oil-on-canvas {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.painting-4 {
  flex-shrink: 0;
  position: relative;
  width: 232px;
  height: 280px;
  z-index: 13;
  overflow: hidden;
}
.painting-5 {
  position: relative;
  width: 232px;
  height: 200px;
  margin: 0 0 0 0;
  background: url(./assets/images/919f2dbe-0737-4934-a59a-09abade39930.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.j-resistance {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 0;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.ria-arante-6 {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.gouache-on-paper {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.painting-7 {
  flex-shrink: 0;
  position: relative;
  width: 233px;
  height: 344px;
  z-index: 3;
  overflow: hidden;
}
.painting-8 {
  position: relative;
  width: 232px;
  height: 264px;
  margin: 0 0 0 1px;
  background: url(./assets/images/9d5e9120fc9147e7e3c14a5c3932ba1854a64529.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.warm-basket {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 0;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.flora-powers {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.acrylic-on-wood {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.painting-9 {
  flex-shrink: 0;
  position: relative;
  width: 232px;
  height: 328px;
  z-index: 23;
  overflow: hidden;
}
.painting-a {
  position: relative;
  width: 232px;
  height: 248px;
  margin: 0 0 0 0;
  background: url(./assets/images/001345d8-52db-4a62-ab12-0e88cc6bed02.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.the-vonnegut {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 0;
  color: #161412;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.ria-arante-b {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.oil-on-canvas-c {
  display: block;
  position: relative;
  height: 16px;
  margin: 4px 0 0 0;
  color: #64625f;
  font-family: OptimaLTStd, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.bg {
  position: relative;
  width: 1446px;
  height: 255px;
  margin: 112px 0 0 0;
  font-size: 0px;
  background: #f4f4f2;
  z-index: 28;
  overflow: visible auto;
}
.featured-artists {
  display: block;
  position: relative;
  height: 24px;
  margin: 56px 0 0 208px;
  color: #161412;
  font-family: Karla, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.88px;
  z-index: 55;
}
.flex-row-cdf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1023px;
  height: 80px;
  margin: 32px 0 0 208px;
  z-index: 39;
}
.card-artist {
  flex-shrink: 0;
  position: relative;
  width: 325px;
  height: 80px;
  z-index: 39;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(100, 98, 95, 0.2);
  z-index: 40;
}
.rectangle-d {
  position: absolute;
  width: 24.62%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/2532217bbc50a999ac37e38fa1f6869b044b8d16.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.mike-lambert {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 23px);
  left: 32%;
  color: #161412;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.painter-texas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: calc(50% - -4px);
  left: 32%;
  color: #64625f;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.card-artist-e {
  flex-shrink: 0;
  position: relative;
  width: 325px;
  height: 80px;
  z-index: 34;
  overflow: hidden;
}
.rectangle-f {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(100, 98, 95, 0.2);
  z-index: 35;
}
.rectangle-10 {
  position: absolute;
  width: 24.62%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/e7c19ac68606201558ec8d14910ad60faa9127a4.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}
.eugenia-cohen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 23px);
  left: 32%;
  color: #161412;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.painter-amsterdam {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: calc(50% - -4px);
  left: 32%;
  color: #64625f;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.card-artist-11 {
  flex-shrink: 0;
  position: relative;
  width: 325px;
  height: 80px;
  z-index: 29;
  overflow: hidden;
}
.rectangle-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(100, 98, 95, 0.2);
  z-index: 30;
}
.rectangle-13 {
  position: absolute;
  width: 24.62%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/902890c0e1c75f690527c9a898c4892a235771fd.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.jorge-hubbard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 23px);
  left: 32%;
  color: #161412;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.painter-california {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: calc(50% - -4px);
  left: 32%;
  color: #64625f;
  font-family: Optima LT Std, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
